<%- include('partials/header'); -%>

<form>
    <h2>Sing Up</h2>
    <label for="email">Email</label>
    <input type="text" name="email" required>
    <div class="email error"></div>
</form>

<%- include('partials/footer'); -%>